*{

}

nav .container {
	//margin: 0px;
}

.navbar {
	//border-bottom: 1px solid gray;
	//border-bottom: 3px solid #e5e5e5;
	border-bottom: 2px solid #ddd;
}

.navbar-header a {
	background-color: #a54586;
	padding: 0px;
	//border: 2px solid yellow;
}

.navbar-brand {
	//border: 2px solid blue;
	padding: 0px;
}

	.navbar-brand img {
		display: inline;
		vertical-align: middle;
	}

	.navbar-brand #logo{
		height: 50px;
	}

body {
	margin-top: 60px;
	//background-color: #f1f1f1;
	background: #f7f5f5;
}

.banner {
	padding: 0px;
}

.banner-side {
	//border: 1px solid black;	
	background-color: white;
	//border: 2px solid #e5e5e5;
	border-top: 2px solid #a54586;
}

	.ingreso {
//		background-color: white;
	}

.panel {
	padding: 0px;
	//border: 1px solid black;
	border-top: 2px solid #a54586;
	background-color: white;
}

.titulo-panel {
	background-color: #f5f5f5;
	border-bottom: 2px solid #e5e5e5;
}

.panel-izquierdo {
	//border: 1px solid black;
	background-color: #fafafa;
	border: 1px solid #d8d8d8;
	border-bottom: 2px solid #e5e5e5;
	padding: 0px;
}

.principal {
	padding: 0px;
	//border: 1px solid gray;
	border: 2px solid #e5e5e5;
	//border-top: 2px solid #a54586;
}

	.titulo {
		text-align: center;
		padding-bottom: 10px;
		border-bottom: 1px solid #a54586;
	}

#buscador {
	margin-top: 10px;
}

#revistas, #convocatorias, #eventos {
	border: 1px solid #a54586;
	padding-left: 10px;
}

.listado {
	padding-top: 20px;
	//background-color: blue;
	background: #f7f5f5;	
	padding: 0px;
	display: table;
}

	.publicacion{
		//border: 1px solid #ccc;
		//background-color: black;
		//border: 1px solid black;
		display: table-row;
	}
		.publicacion #contenido-publicacion:hover {
			//background-color: blue;
			background: #f7f5f5;
			border-left: 3px solid #a54586;
		}

		.publicacion #contenido-publicacion {
			padding: 10px;
			border: 2px solid #e5e5e5;
			background-color: white;
			display: table-cell;
			//border: 1px solid black;
			//border-left: 2px solid #a54586;
			width: 75%;

		}
	/*.publicacion {
	//	background-color: black;
		display: table-row;
		margin-bottom: 20px;
	}
	
		.publicacion #contenido-publicacion{
			border: 2px solid #e5e5e5;
			background-color: white;
			//background-color: white;
			display: table-cell;
			widows: 75%;
		}
		*/
		.publicacion #fecha-publicacion{
			color: black;
			//background-color: green;
			padding-left: 10px;
			padding-right: 10px;
			background: #ddd;
			border-left: 1px solid #000; 
			display: table-cell;
			width: 25%;
		}

	.espacio {
		height: 20px;
	}
footer {
	color: white;
	background-color: gray;
}